// 颜色变量
// $clr-red : #ea4335;
// $clr-green : #34a853;
// $clr-blue : #4285f4;
// $clr-yellow : #fbbc05;
// $clr-gray : #f2f2f2;

$clr-blue: #4586f3;
$clr-green: #35aa53;
$clr-yellow: #fbbd06;
$clr-red: #eb4334;
$clr-bg:#f8f8f9;
$clr-line: #e9eaec;
$clr-border: #dddee1;
$clr-disabled: #bbbec4;
$clr-sub: #80848f;
$clr-content: #495060;
$clr-title: #1c2438;
$clr-black: #222;
$clr-white: #fff;
$clr-footer: #414146;
$clr-nprogress: #29d;

// 像素变量
$h-header: 64px;

// 阴影变量
$shadow-card: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
